<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="css/myStyles.css" media="screen" title="no title">
  </head>

  <body>
    <div class="comtainer-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="heading">PDS Billing Search Results: </h1>
        </div>
      </div>
    <div class="row">
    <!-- defendant name -->
    <div class="col-xs-12 col-md-3">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Defendant Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark Mansford</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- hearing details -->

    <div class="col-xs-12 col-md-6">

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Hearing Date</th>
            <th>Hearing Type</th>
            <th>Advocate Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>13/11/2003</td>
            <td>pre-trial</td>
            <td>Mr anderson, QC</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>12/04/2014</td>
            <td>Trial</td>
            <td>Mr Bacon, QC</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>23/11/2013</td>
            <td>Trial</td>
            <td>Mrs Carte, QC</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>

  </div>

  </body>
</html>
