<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/myStyles.css" media="screen" title="no title">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/js/query.js""></script>
</head>

<body>
    <div class="container-fluid">
      <div class="row col-md-4 col-md-offset-4">
        <img src="/js/logo.gif">
        <h2>PDS Billing Search Tool</h2>
        <form action="/dashboard" method="get">
            <div class="form-group">
                <label for="defendantSurname">Case Number</label>
                <input type="text" class="form-control" name="caseNumber" placeholder="enter case number">
            </div>

            <div class="form-group">
                <label for="defendantSurname">Defendant Full Name</label>
                <input type="text" class="form-control" id="defendantSurname" placeholder="enter full name">
            </div>
            <div class="form-group">
                <label for="nameOfCrownCourt">Name of Crown Court</label>
                <input type="text" class="form-control" id="nameOfCrownCourt" placeholder="enter court name">
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
            <br>
            <small id="submitHelp" class="form-text text-muted">Please click search form to access results dashboard</small>
        </form>
    </div>
</div>
</body>

</html>
